extends layout

block content
	.ac-header
		h1=title
		p putting the ape in API
	.ac-main
		#ac-calculator(ng-app='apeCalc', ng-controller='ReadoutController')
			input.ac-readout(ng-model='readout', readonly='readonly')
			.ac-buttons
				.ac-button-row
					.ac-button-cell
						.ac-button(ng-click='onNgClick("7")') 7
					.ac-button-cell
						.ac-button(ng-click='onNgClick("8")') 8
					.ac-button-cell
						.ac-button(ng-click='onNgClick("9")') 9
					.ac-button-cell
						.ac-button(ng-click='onNgClick("C")') C
				.ac-button-row
					.ac-button-cell
						.ac-button(ng-click='onNgClick("4")') 4
					.ac-button-cell
						.ac-button(ng-click='onNgClick("5")') 5
					.ac-button-cell
						.ac-button(ng-click='onNgClick("6")') 6
					.ac-button-cell
						.ac-button(ng-click='onNgClick("/")') &#47;
				.ac-button-row
					.ac-button-cell
						.ac-button(ng-click='onNgClick("1")') 1
					.ac-button-cell
						.ac-button(ng-click='onNgClick("2")') 2
					.ac-button-cell
						.ac-button(ng-click='onNgClick("3")') 3
					.ac-button-cell
						.ac-button(ng-click='onNgClick("*")') &#42;
				.ac-button-row
					.ac-button-cell
						.ac-button(ng-click='onNgClick("=")') &#61;
					.ac-button-cell
						.ac-button(ng-click='onNgClick("0")') 0
					.ac-button-cell
						.ac-button(ng-click='onNgClick("+")') &#43;
					.ac-button-cell
						.ac-button(ng-click='onNgClick("-")') &#45;
